1. Create a new database with a table named Roster that has three fields: Name, Species, and Age. The Name and Species columns should be text fields, and the Age column should be an integer field.

In [1]:
import sqlite3

connection = sqlite3.connect("sample.db")
cursor = connection.cursor()
sql_query= """ create table Roster (Name nvarchar (100), Species nvarchar (100), age int)"""

cursor.execute(sql_query)
connection.commit()
connection.close()

2.Populate your new table with the following values:

In [2]:
with sqlite3.connect("sample.db") as connection:
    insert_query = """insert into Roster (Name,Species,Age) values ('Benjamin Cisco','Human',40),('Jadzia Dask','Trill',300),('Kira Nyres','Bajoran',29)"""
    cursor=connection.cursor()
    cursor.execute(insert_query)

3.Update the Name of Jadzia Dax to be Ezri Dax

In [4]:
with sqlite3.connect("sample.db") as connection:
    update_query = """update Roster set name = 'Ezri Dax' where name = 'Jadzia Dask'"""
    cursor = connection.cursor()
    cursor.execute(update_query)
    connection.commit()

4.Display the Name and Age of everyone in the table classified as Bajoran

In [5]:
with sqlite3.connect("sample.db") as connection:
    display_query = """select Name, Age from Roster where Species = 'Bajoran'"""
    cursor = connection.cursor()
    cursor.execute(display_query)
    connection.commit()